html {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  padding-top: 50px;
  background: #1e1e1e conic-gradient(from 180deg at 50% 50%, #ffffff 0deg, rgba(255, 255, 255, 0) 270deg, #ffffff 360deg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  line-height: 150%;
  position: relative;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: #605c57;
}
body::-webkit-scrollbar-thumb {
  background-color: #484855;
  border-radius: 20px;
  border: 3px solid #605c57;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  background: #75716d;
  transition: 500ms;
  transform: translateX(-100%);
  padding: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
nav.active {
  transform: translateX(0);
  box-shadow: 0 0 10px #6d6b69;
}
nav .btn {
  margin: 0 auto 30px;
}
nav ul {
  all: unset;
  height: 100%;
  display: flex;
  flex-direction: column;
}
nav ul li {
  all: unset;
  margin-bottom: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 125%;
}
header,
section,
.content {
  max-width: 1440px;
  margin: 0 auto 40px;
}
@media (max-width: 1600px) {
  header,
  section,
  .content {
    max-width: 1110px;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.btn {
  all: unset;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
section {
  display: flex;
}
h1 {
  font-weight: 500;
  font-size: 32px;
}
p {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.05em;
  margin: 0;
}
section > div {
  width: 50%;
}
.info p {
  margin: 30px 0;
}
.pictures p:first-of-type {
  margin-top: 20px;
  font-weight: 500;
  font-size: 15px;
}
.pictures p:last-of-type {
  margin: 0;
  margin-bottom: 50px;
}
.pictures img {
  width: 100%;
}
.more {
  all: unset;
  background: conic-gradient(from 180deg at 50% 50%, #918888 -97.45deg, rgba(145, 136, 136, 0.958333) 126.05deg, rgba(145, 136, 136, 0) 200.99deg, #918888 262.55deg, rgba(145, 136, 136, 0.958333) 486.05deg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding: 22px 65px;
}
section button {
  all: unset;
  font-weight: 400;
  font-size: 15px;
}
section button.active {
  font-weight: 700;
  margin-right: 20px;
}
.languages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.prznt {
  display: block;
  margin-bottom: 100px;
}
.prznt h2 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 100px;
}
.prznt img {
  width: 100%;
}
.news {
  margin-bottom: 100px;
}
.news > div,
.news img {
  width: 50%;
}
.news div {
  background-color: #d1cece;
  padding: 40px 55px 70px;
}
.news div h3 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 50px;
}
.news div div {
  display: flex;
  align-items: center;
  padding: 0;
}
.news div input {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.53);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.2em;
  text-transform: lowercase;
  color: rgba(106, 98, 98, 0.71);
  padding: 12px 15px;
  background-color: transparent;
  width: 260px;
}
.news div img {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}
.numbers {
  justify-content: center;
}
.numbers .number {
  width: auto;
  margin: 35px;
}
.numbers .number h4 {
  font-weight: 300;
  font-size: 45px;
  letter-spacing: 0.05em;
  margin-bottom: 15px;
}
.numbers .number p {
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.05em;
}
footer {
  background: #575757;
  padding: 135px 0 120px;
}
footer a {
  all: unset;
  display: block;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.05em;
  text-transform: none;
  margin-bottom: 13px;
}
footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
footer h5 {
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}
footer div button {
  border: 1px solid #ffffff;
  padding: 12px 30px;
  margin-bottom: 30px;
  background: #575757;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-transform: none;
}
footer .links {
  display: flex;
}
footer .links > div {
  margin: 0 30px;
}
footer .contacts {
  text-align: end;
}
footer .contacts a:first-of-type {
  font-size: 20px;
}
